@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    /* color: #f6f6f6;
    background-color: #2f2f2f; */
  }
}

html, body {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.ProseMirror h1.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h1 {
  @apply text-xl font-bold;
}
