/* .logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
} */

/* .titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} */